PGPORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password123
POSTGRES_DB=mobile_push
DATABASE_HOST=pg
#PGUSERID="$(id -u):$(id -g)"
#PGUSERID="$(id -u postgres):$(id -g postgres)"
ADMIN_TOKEN=auth123
APPLE_CERT_NAME=AuthKey_XXXXXXXX.p8
APPLE_KEY_ID=XXXXXXXXXX
APPLE_TEAM_ID=XXXXXXXXXX
EXPIRE_PUSH_AFTER_HOURS=24
APIPORT=4000
NODE_ENV=production
APIUSERID="$(id -u):$(id -g)"
#APIUSERID="$(id -u node):$(id -g node)"
