PGHOST=localhost
PGPORT=5432
PGUSER=user
PGPASSWORD=password123
PGDATABASE=mobile_push
ADMIN_TOKEN=auth123
APPLE_CERT_NAME=AuthKey_XXXXXXXX.p8
APPLE_KEY_ID=XXXXXXXXXX
APPLE_TEAM_ID=XXXXXXXXXX
EXPIRE_PUSH_AFTER_HOURS=24
